.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  padding: 20px 70px 0 0px;
  border-top: 1px solid #3c3836;
}

.codespace {
  position: relative;
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.codespace__textarea {
  display: block;
  caret-color: var(--color-light);
  background: transparent;
  position: absolute;
  color: transparent;
  left: 0;
  top: 0;
  width: calc(100% - 60.8px);
  height: 100%;
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5rem;
  resize: none;
  border: none;
  outline: none;
  padding: 0 0 0 60.8px;
}

.codespace__code {
  word-break: break-word;
}

.btn__save {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  height: 6rem;
  width: 6rem;
  background-color: var(--color-yellow);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  &:hover {
    transform: scale(1.1);
  }
}

.btn__help {
  height: 2.75rem;
  width: 2.75rem;
  background-color: var(--color-yellow);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  &:hover {
    transform: scale(1.1);
  }
}

.btn__help__icon {
  height: 1.75rem;
  width: 1.75rem;
}

.btn__icon {
  height: 3rem;
  width: 3rem;
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(100%)
    contrast(88%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
  color: var(--color-light);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header h1 {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header__mini {
  color: var(--color-yellow);
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0.5rem 1rem;
  }

  .header h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .btn__save {
    bottom: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
  }

  .btn__icon {
    height: 2rem;
    width: 2rem;
  }

  .btn__help {
    display: none;
  }
}
